<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <!--
        Android 11 package visibility changes require that apps specify which
        set of other packages on the device that they can access. Since this
        sample uses Google Maps, specifying the Google Maps package name is
        required so that the buttons on the Map toolbar launch the Google Maps app.
    -->
    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <application
        android:name=".HighroadApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Highroad"
        android:supportsRtl="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="highroad" android:host="articles" />
<!--                <data android:scheme="https"-->
<!--                    android:host="protsprog.com"-->
<!--                    android:pathPrefix="/article" />-->
            </intent-filter>
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="highroad"-->
<!--                    android:host="articles" />-->
<!--            </intent-filter>-->
        </activity>

<!--        <activity-->
<!--            android:name="com.protsprog.highroad.compose.sideeffects.details.DetailsActivity"-->
<!--            android:exported="true" />-->
    </application>

</manifest>